<!-- <div class="quartz-menu">

  <div class="menu-section">

    <mat-toolbar class="end-icon">
      <button mat-icon-button [mat-menu-trigger-for]="posXMenuOverlay">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <mat-menu xPosition="before" [overlapTrigger]="false" #posXMenuOverlay="matMenu" class="before">
      <button mat-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.text }}
      </button>
    </mat-menu>
  </div>
</div> -->
