<div class="quartz-container">
  <div class="menu-section">

    <mat-toolbar>
      <button mat-icon-button aria-label="Open basic menu">
        <mat-icon>dehaze</mat-icon>
      </button> Quartz Manager
    </mat-toolbar>

    <mat-drawer-container class="content">
      <mat-drawer mode="side" opened="true">
        <mat-nav-list>
          <!-- <ng-template let-item let-last="last" ngFor [ngForOf]="routes"> -->
          <a mat-list-item>
            <mat-icon>home</mat-icon>Manager</a>
          <mat-divider></mat-divider>

          <a mat-list-item>
            <mat-icon>work</mat-icon>Jobs</a>
          <!-- </ng-template> -->
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <div class="drawer-content">
          <h1>Dashboard</h1>
          <mat-divider></mat-divider>

          <div class="example-container">

            <br/>
            <button mat-raised-button color="accent" (click)="openDialog()">Add Job!</button>

            <br/>
            <br/>

            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="group">
                  <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.group}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="subject">
                  <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="to">
                  <mat-header-cell *matHeaderCellDef> Receiver </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>


          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
